.weni-messages-list {
  padding: $spacing-4 $spacing-2;
  
  display: flex;
  flex-direction: column;
 
  height: 100%;
  overflow: hidden auto;

  &__avatar {
    grid-column: 1 / 2;
  }

  &__conversation-status {
    width: 100%;
    justify-self: center;
    display: flex;
  }

  &__message {
    width: fit-content;

    &--incoming {
      grid-column: 2 / 3;
      justify-self: flex-start;
    }

    &--outgoing {
      justify-self: flex-end;
    }

    &--voice-transcribing {
      opacity: 0.55;
      animation: none;
    }
  }

  &__message--product-list {
    border: none;
    padding: 0;
    width: 100%;
  }

  &__direction-group--incoming-with-avatar {
    grid-template-columns: minmax($icon-size-5, auto) 1fr;
  }

  &__direction-group--incoming-without-avatar {
    grid-template-columns: 1fr;
  }

  > section {
    margin-top: $spacing-4;
  }

  &__direction-group {
    max-width: 75%;

    display: grid;
    gap: $spacing-2;

    &--incoming {
      align-self: flex-start;
    }

    &--outgoing {
      align-self: flex-end;
    }
  }
}

.weni-widget .weni-messages-list__group--with-conversation-status {
  width: 100%;
  max-width: unset;
}
