.weni-messages-list {
  padding: $fs-spacing-3;
  
  display: flex;
  flex-direction: column;
 
  height: 100%;
  overflow: hidden auto;

  &__conversation-status {
    width: 100%;
    justify-self: center;
    display: flex;
  }

  &__message {
    width: fit-content;
    max-width: 75%;

    &--voice-transcribing {
      opacity: 0.55;
      animation: none;
    }
  }

  &__message--product-list {
    border: none;
    padding: 0;
    width: 100%;
    max-width: 100%;
  }

  &__direction-group--incoming-with-avatar {
    grid-template-columns: minmax($icon-size-5, auto) 1fr;
  }

  &__direction-group--incoming-without-avatar {
    grid-template-columns: 1fr;
  }

  > section {
    margin-top: $spacing-4;
  }

  &__direction-group {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;

    &--incoming {
      align-items: flex-start;
    }

    &--outgoing {
      align-items: flex-end;
    }
  }
}

.weni-widget .weni-messages-list__group--with-conversation-status {
  width: 100%;
  max-width: unset;
}
