@import '@/styles/variables.scss';
@import '@/styles/animations.scss';

.weni-chat-container {
  @include push-animation(0, 0.25s, push-expand-in);

  width: var(--widgetWidth);
  height: var(--widgetHeight);

  background: $white;
  border-radius: $border-radius-3;
  box-shadow: $shadow-1;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  &--closing {
    @include push-animation(0, 0.25s, push-expand-out);
  }
}