.weni-chat-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin-top: $spacing-2;
    font: var(--fs-text-weight-semibold) var(--fs-text-size-2)/1.5 $font-family;
    color: $fs-fg-base;
  }

  &__subtitle {
    margin-top: $spacing-1;
    font: var(--fs-text-weight-regular) var(--fs-text-size-1)/1.42 $font-family;
    color: $fs-fg-base;
  }
}
