.weni-quick-replies {
  display: flex;
  gap: $fs-spacing-1;
  flex-wrap: wrap;

  .weni-quick-replies__button {
    padding: calc($fs-spacing-1 - $fs-border-width) calc($fs-spacing-3 - $fs-border-width);
    border: $fs-border-width solid $fs-border-color;
  }
}
