@import '@/styles/animations.scss';

.weni-widget {
  z-index: 9999;

  position: fixed;
  right: 0;
  bottom: 0;

  padding: 0 $spacing-3 $spacing-3 0;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;  
  gap: $spacing-3;

  @include weni-animation(0, 0.25s, weni-slide-in);

  &--disabled-animation {
    animation: none;
  }

  
  $animation-duration: 0.25s;

  transition: padding-bottom $animation-duration ease-in-out, gap $animation-duration ease-in-out;

  .weni-launcher__container {
    transition: height $animation-duration ease-in-out;
    height: 60px;
  }

  &.weni-widget--fullscreen {
    max-width: 524px;
  }

  &.weni-widget--open {
    padding-bottom: 0;
    gap: 0;
  
    .weni-launcher__container {
      height: 0;
    }
  }
}

.weni-widget--fullscreen {
  padding: 0;
  width: 100%;
  height: 100%;
}
