@import '@/styles/animations.scss';

.weni-widget {
  z-index: var(--fs-z-index-high, 998);

  position: fixed;
  right: 0;
  bottom: 0;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;  
  gap: $spacing-3;

  @include weni-animation(0, 0.25s, weni-slide-in);

  &--disabled-animation {
    animation: none;
  }
  
  $animation-duration: 0.25s;

  transition: padding-bottom $animation-duration ease-in-out, gap $animation-duration ease-in-out;

  .weni-launcher__container {
    transition: height $animation-duration ease-in-out;
  }

  &.weni-widget--open {
    gap: 0;
  
    .weni-launcher__container {
      height: 0;
    }
  }
}

@media screen and (max-width: 540px) {
  .weni-widget {
    .weni--hide-on-mobile {
      display: none;
    }
  }
}
