.weni-inline-product {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-base;
  border-radius: $border-radius-2;
  gap: $spacing-2;
  padding-right: $spacing-2;
  border: var(--fs-border-width) solid var(--fs-border-color);

  &__image-container {
    width: 72px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 56px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: $border-radius-1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 0;

    .weni-inline-product__counter-controls {
      margin-top: $spacing-1;
    }

    &--order {
      width: unset;
    }
  }

  &__title {
    font: var(--fs-text-weight-medium) var(--fs-text-size-2)/1.25 $font-family;
    color: var(--fs-color-text);
  }

  &__line {
    font: $font-caption-2;
    font: var(--fs-text-weight-regular) var(--fs-text-size-1)/1.42 $font-family;
    color: var(--fs-color-text-light);
  }

  &__title, &__line {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__line {
    margin-top: var(--fs-spacing-0);
  }

  &__price-container {
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    gap: var(--fs-spacing-1);
    align-items: center;
  }

  &__price {
    font: var(--fs-text-weight-bold) var(--fs-text-size-2)/1.5 $font-family;
    color: var(--fs-color-text-light);

    &--product {
      color: $fg-base;
    }

    &--muted {
      font: var(--fs-text-weight-regular) var(--fs-text-size-1)/1.42 $font-family;
      color: var(--fs-color-text-light);
      text-decoration: line-through;
    }
  }

  &--cart {
    border: 1px solid $border-soft;
  }
}

.weni-product-quantity-controls {
  display: flex;
  align-items: center;

  $button-small-size: 28px;
  $button-medium-size: 36px;

  &__value {
    aspect-ratio: 1/1;

    color: $fg-emphasized;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius-1;

    &--not-interacted {
      background-color: $bg-active;
      color: $fg-inverted;
      cursor: pointer;
      user-select: none;
    }
  }

  &.weni-product-quantity-controls--small {
    .weni-product-quantity-controls__value {
      height: $button-small-size;
      font: $font-caption-2;
    }
  }

  &.weni-product-quantity-controls--medium {
    .weni-product-quantity-controls__value {
      height: $button-medium-size;
      font: $font-body;
    }
  }
}
