.weni-fs-product-quantity-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $fs-border-color;
  border-radius: $fs-border-radius-pill;
  padding: $fs-spacing-0;
  justify-content: space-between;
  gap: $fs-spacing-0;
}
