.weni-view-cart {
  padding: $spacing-2;
  display: flex;
  gap: $spacing-2;
  flex-direction: column;

  height: 100%;
  overflow: hidden auto;

  &__products {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
    overflow: auto;
  }

  &__total-items {
    font: $font-caption-1;
    color: $fg-emphasized;
  }

  .weni-product-group {
    display: flex;
    flex-direction: column;
    gap: $spacing-1;

    &__title {
      font: $font-caption-2;
      color: $fg-base;
    }
  }

  &__footer {
    margin: -$spacing-2;
    padding: $spacing-2;
    border-top: 1px solid $border-soft;
    margin-top: auto;
    display: grid;
    row-gap: $spacing-3;
    column-gap: $spacing-2;
    grid-template-areas: "subtotal subtotal" ". .";
    grid-template-columns: repeat(2, 1fr);
  }

  &__footer-subtotal {
    grid-area: subtotal;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $spacing-2;

    p:first-child {
      font: $font-caption-1;
      color: $fg-emphasized;
    }

    p:last-child {
      font: $font-action;
      color: $fg-emphasized;
    }
  }

  &--empty {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: $spacing-4;

    .weni-view-cart__icon {
      display: flex;
      padding: $spacing-6;
      background-color: $teal-50;
      border-radius: $border-radius-full;
    }

    .weni-view-cart__content {
      display: flex;
      flex-direction: column;
      gap: $spacing-1;
      text-align: center;
      width: 70%;

      h2 {
        font: $font-caption-1;
        color: $fg-emphasized;
      }

      p {
        font: $font-caption-2;
        color: $fg-base;
      }
    }
  }
}
