.weni-view-cart {
  padding: $spacing-2;
  display: flex;
  gap: $spacing-2;
  flex-direction: column;

  height: 100%;
  overflow: hidden auto;

  &__products {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;
    overflow: auto;
  }

  &__total-items {
    font: $font-caption-1;
    color: $fg-emphasized;
  }

  .weni-product-group {
    display: flex;
    flex-direction: column;
    gap: $spacing-1;

    &__title {
      font: $font-caption-2;
      color: $fg-base;
    }
  }

  &__footer {
    margin: -$spacing-2;
    padding: $spacing-2;
    border-top: 1px solid $border-soft;
    margin-top: auto;
    display: grid;
    row-gap: $spacing-1;
    column-gap: $spacing-2;
    grid-template-areas: "subtotal subtotal" "discount discount" "total total" ". .";
    grid-template-columns: repeat(2, 1fr);

    // apply margin-top to the last grid row
    & > *:nth-last-child(2),
    & > *:nth-last-child(1) {
      margin-top: $spacing-2;
    }
  }

  &__footer-subtotal,
  &__footer-discount,
  &__footer-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $spacing-2;

    p:first-child {
      font: var(--label-font);
      color: var(--label-color);
    }

    p:last-child {
      font: var(--value-font);
      color: var(--value-color);
    }
  }

  &__footer-subtotal {
    grid-area: subtotal;
    --label-font: #{$font-caption-1};
    --label-color: #{$fg-emphasized};
    --value-font: #{$font-action};
    --value-color: #{$fg-emphasized};

    &--discounted {
      --label-font: #{$font-caption-1};
      --label-color: #{$fg-base};
      --value-font: #{$font-caption-1};
      --value-color: #{$fg-base};
    }
  }

  &__footer-discount {
    grid-area: discount;
    --label-font: #{$font-caption-2};
    --label-color: #{$fg-base};
    --value-font: #{$font-caption-2};
    --value-color: #{$fg-success};
  }

  &__footer-total {
    grid-area: total;
    --label-font: #{$font-caption-2};
    --label-color: #{$fg-emphasized};
    --value-font: #{$font-action};
    --value-color: #{$fg-emphasized};
  }

  &--empty {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: $spacing-4;

    .weni-view-cart__icon {
      display: flex;
      padding: $spacing-6;
      background-color: $teal-50;
      border-radius: $border-radius-full;
    }

    .weni-view-cart__content {
      display: flex;
      flex-direction: column;
      gap: $spacing-1;
      text-align: center;
      width: 70%;

      h2 {
        font: $font-caption-1;
        color: $fg-emphasized;
      }

      p {
        font: $font-caption-2;
        color: $fg-base;
      }
    }
  }
}
