.weni-view-product-catalog {
  display: flex;
  flex-direction: column;

  @include scrollable-container;

  &__products {
    display: flex;
    flex-direction: column;
    gap: $fs-spacing-3;
    padding: $fs-spacing-3;
    @include scrollable-content;
  }

  .weni-product-group {
    display: flex;
    flex-direction: column;
    gap: $spacing-2;

    &__title {
      font: $fs-text-weight-regular #{$fs-text-size-0}/1.33 $font-family;
      color: $fg-base;
    }
  }

  &__footer {
    margin-top: auto;
    display: grid;
  }
}
