@import '@/styles/animations.scss';
@import '@/styles/variables.scss';

.weni-launcher {
  &__container {
    position: relative;
  }

  &__badge {
    position: absolute;
    top: -7px;
    right: -7px;
  }

  min-width: 48px;
  max-width: 48px;
  height: 48px;

  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: var(--fs-border-radius-pill);
  background-color: var(--fs-color-neutral-0);
  border: var(--fs-border-width) solid $fs-border-color;
  color: var(--weni-main-color);
  box-shadow: $fs-drop-shadow-colored;

  overflow: hidden;
  cursor: pointer;

  transition: max-width 0.5s ease;

  button {
    cursor: pointer;
    display: flex;
    padding-block: 14px;
    position: relative;
    background-color: transparent;
    color: var(--fs-color-neutral-4);

    &:hover {
      color: var(--weni-main-color);
    }

    &:first-child {
      border-radius: var(--fs-border-radius-pill) 0 0 var(--fs-border-radius-pill);
      padding-left: 20px;
      padding-right: calc($fs-spacing-1 + $fs-border-width);

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0px;
        width: $fs-border-width;
        height: 16px;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--fs-border-color);
      }
    }

    &:last-child {
      border-radius: 0 var(--fs-border-radius-pill) var(--fs-border-radius-pill) 0;
      padding-left: $fs-spacing-1;
      padding-right: 20px;
    }
  }

  &:hover,
  &--hovering {
    max-width: 280px;
    width: auto;
    background-color: var(--fs-color-neutral-0);
    border: var(--fs-border-width) solid var(--fs-border-color);
  }
}

.weni-launcher-icon--click-open {
  @include weni-animation(0, 0.25s, weni-rotation-rl);
}

.weni-launcher-icon--click-close {
  @include weni-animation(0, 0.25s, weni-rotation-lr);
}