.weni-chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: transparent;
  padding: $spacing-2 $spacing-4;
  border-bottom: 1px solid $sl-color-gray-1;

  &__group {
    display: flex;
    align-items: center;
    gap: $spacing-2;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: $spacing-2;

    .weni-chat-header__avatar {
      border-radius: $border-radius-full;
      object-fit: cover;
    }

    .weni-chat-header__title {
      font: $font-action;
      color: var(--weni-title-color);
    }

    .weni-chat-header__subtitle {
      font: $font-caption-2 ;
      color: var(--weni-subtitle-color);
    }
  }

  &__tag {
    font: $font-caption-1;
    font: $fs-text-weight-medium #{$fs-text-size-1}/#{$fs-text-size-base} $font-family;
    color: $fs-fg-base;

    border-radius: $border-radius-4;
    padding: $spacing-1 $spacing-3;

    &--preview {
      background-color: $sl-color-orange-3;
    }

    &--live {
      background-color: $sl-color-green-3;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: $spacing-2;
  }
}
