.weni-chat-header {
  padding: $spacing-3 $spacing-4;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: var(--weni-header-bg-color);

  &__info {
    display: flex;
    align-items: center;
    gap: $spacing-2;

    .weni-chat-header__avatar {
      border-radius: $border-radius-full;
      object-fit: cover;
    }

    .weni-chat-header__title {
      font: $font-action;
      color: var(--weni-title-color);
    }

    .weni-chat-header__subtitle {
      font: $font-caption-2 ;
      color: var(--weni-subtitle-color);
    }
  }

  &__tag {
    text-transform: uppercase;
    font: $font-caption-1;
    color: var(--fg-inverted);

    border-radius: $border-radius-4;
    padding: $spacing-1 $spacing-3;

    border: 2px solid $sl-color-gray-0;

    &--preview {
      background-color: $sl-color-blue-10;
    }

    &--live {
      background-color: $sl-color-green-10;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: $spacing-2;
  }
}