.weni-fs-button {
  display: flex;
  align-items: center;
  gap: var(--fs-spacing-0);
  width: fit-content;
  padding: var(--fs-spacing-1) var(--fs-spacing-3);
  cursor: pointer;
  border-radius: var(--fs-border-radius-pill);
  font: var(--fs-text-weight-semibold) var(--fs-text-size-1)/var(--fs-text-size-2) var(--fs-text-face-body);

  &--primary {
    color: var(--fs-button-primary-text-color);
    background-color: var(--fs-button-primary-bkg-color);
  }

  &--secondary {
    color: var(--weni-main-color);
    background-color: var(--fs-color-neutral-1);
  }

  &--tertiary {
    color: var(--weni-main-color);
    background-color: var(--fs-color-neutral-0);
  }

  &--small {
    padding: var(--fs-spacing-1) var(--fs-spacing-3);
    font: var(--fs-text-weight-semibold) var(--fs-text-size-1)/var(--fs-text-size-2) var(--fs-text-face-body);
  }

  &__loading-spinner {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
