@use '@/styles/animations.scss' as *;

$spacing-right: $spacing-3;
$arrow-size: 12px;

.weni-tooltip {
  display: flex;
  gap: $spacing-1;
  flex-direction: column;
  
  width: max-content;

  position: absolute;
  bottom: 0;
  max-width: 260px;
  background-color: $bg-base;
  border-radius: $border-radius-2;
  padding: $spacing-2;
  box-shadow: $shadow-1;

  &::after {
    width: $arrow-size;
    height: $arrow-size;
    background-color: $bg-base;

    content: '';
    position: absolute;
    bottom: 0;
    margin-bottom: calc($border-radius-2 + $arrow-size / 4);

    transform: rotate(45deg);
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
  }

  &__header {
    display: flex;
    gap: $spacing-2;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font: $font-action;
    color: $fg-emphasized;
  }
}

.weni-widget--bottom-right .weni-tooltip {
  right: calc(100% + $spacing-right);

  &::after {
    right: 0;
    margin-right: math.div(-$arrow-size, 2);
    clip-path: polygon(100% 100%, 100% 0%, 0% 0%);
  }
}

.weni-widget--bottom-left .weni-tooltip {
  left: calc(100% + $spacing-right);

  &::after {
    left: 0;
    margin-left: math.div(-$arrow-size, 2);
    clip-path: polygon(0% 100%, 100% 100%, 0% 0%);
  }
}

.weni-widget--bottom-right .weni-tooltip {
  @include weni-animation(0, 0.25s, weni-expand-in-bottom-right);
}

.weni-widget--bottom-left .weni-tooltip {
  @include weni-animation(0, 0.25s, weni-expand-in-bottom-left);
}
